h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

p {
    font-size: 1.2rem;
  line-height: 1.7;
  max-width: 700px;
  margin: 20px auto 40px;
}

footer {
  margin-top: 40px;
  padding: 25px 15px;
  background: #f7f7f7;
  border-radius: 12px;
  border: 1px solid #ddd;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}